@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.music-homepage {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png");
    background-size: cover;
    padding: 1px;
    margin: 2px;
    height: 100vh;
    width: 100vw;
}

.heading-music-homepage {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 30px;
    margin: 40px;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}

.paragraph-music-homepage {
    color: #ffffff;
    text-align: center;
    font-family: "Bree Serif";
    padding: 2px;
    margin: 5px;
}

.image {
    margin-left: 25vh;
    margin-right: 25vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    height: 25vh;
    width: 55vw;
}

.p {
    margin: 2px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    font-family: "Bree Serif";
    color: #ffffff;
    font-size: 30px;
}

.button {
    color: #ffffff;
    background-color: #8e97fd;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10px;
    border-radius: 10px;
}

.details {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/clouds-img.png");
    height: 40vh;
    width: 100vw;
    background-size: cover;
}

.card {
    background-color: #03174c;

}

.head {
    color: #ffffff;
    font-family: "Bree Serif";
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.para1 {
    color: #98a1bd;
    text-align: left;
    font-size: 20px;
    padding: 5px;
    font-family: "Bree-Serif";
    font-weight: bold;
}

.para2 {
    color: #98a1bd;
    text-align: left;
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
    font-family: "Bree-Serif";
}

.img1 {
    height: 30vh;
    width: 50vw;
}

.button1 {
    background-color: #8e97fd;
    border-radius: 10px;
    color: #ffffff;
    height: 36px;
    width: 136px;
}